

  <div class="row">
    <div class="col-md-4">
      <img class="rounded avatar" [src]="employee.avatar" alt="">
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="number">Employee Number</label>
        <input class="form-control" type="text" name="number" [(ngModel)]="employee.id">
      </div>
      <div class="form-group">
        <label for="name">Name</label>
        <input class="form-control" type="text" name="name" 
          (change)="onChange($event)" 
          (keyup.control.c)="onKeyUp($event)"  
          [(ngModel)]="employee.first_name" 
        > 
      </div>
      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input class="form-control" type="text" name="lastName" [(ngModel)]="employee.last_name">
      </div>
      <div class="form-group">
        <label for="number">Email</label>
        <input class="form-control" type="text" name="email" [(ngModel)]="employee.email">
      </div>
      <div class="form-group">
         <button *ngIf="!employeeId" (click)="onAddEmployee()" class="btn btn-primary"> Add Employee </button>
         <button *ngIf="employeeId" (click)="onUpdateEmployee()" class="btn btn-primary"> Update Employee </button>
      </div>
    </div>

  </div>

